In [38]:
class Node:
    def __init__(self, data = None):
        self.data = data
        self.next = None
    def __str__(self):
        return f"[Node with value {self.data}]"


def reverse_linked_list(head, tail = None):
    while head is not None:
        head.next, tail, head = tail, head, head.next
    return tail


def print_linked_list(head):
    while head:
        print(head)
        head = head.next
        
a = Node(1)
b = Node(2)
c = Node(3)
d = Node("Внезапно")
e = Node(5)

a.next = b
b.next = c
c.next = d
d.next = e


print_linked_list(a)
a = reverse_linked_list(a)
print("---")
print_linked_list(a)

[Node with value 1]
[Node with value 2]
[Node with value 3]
[Node with value Внезапно]
[Node with value 5]
---
[Node with value 5]
[Node with value Внезапно]
[Node with value 3]
[Node with value 2]
[Node with value 1]

In [39]:
class Node:
    def __init__(self, data = None):
        self.data = data
        self.next = None
    def __str__(self):
        return f"{self.data}"
      
def print_linked_list(head):
    while head is not None:
        print(head, end =' -> ' if head.next is not None else '')
        head = head.next

def sort(head):
    tf= False
    while not tf:
        cur = head
        tf = True
        while cur is not None:
            if cur.next is not None and cur.data > cur.next.data:
                cur.data, cur.next.data = cur.next.data, cur.data
                tf = False
            cur = cur.next

a, b, c, d, e, f = Node(7), Node(3), Node(26), Node(98), Node(-35), Node(8)

a.next = b
b.next = c
c.next = d
d.next = e
e.next = f

print_linked_list(a)
sort(a)
print('\n')
print_linked_list(a)

7 -> 3 -> 26 -> 98 -> -35 -> 8

-35 -> 3 -> 7 -> 8 -> 26 -> 98

In [40]:
import pandas as pd
df = pd.read_csv("C:\\Users\\Rabat\\Downloads\\MISIS-master\\MISIS-master\\notebooks\\season_2\\tips.csv")
le_masque = df["sex"] == "Male"
le_masque &= df["day"] == "Fri"
le_masque &= df["smoker"] == "Yes"
le_masque &= df["time"] == "Lunch"
print(f'{df[le_masque]["total_bill"].mean()}')

11.386666666666668

In [41]:
import pandas as pd
import seaborn as sns
import numpy as np
iris = sns.load_dataset("iris")
dnm=iris.groupby('species').agg(np.ptp)
display(dnm)

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               1.5          2.1           0.9          0.5
versicolor           2.1          1.4           2.1          0.8
virginica            3.0          1.6           2.4          1.1

In [42]:
import pandas as pd
df = pd.DataFrame({
     'country': ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
     'population': [17.04, 143.5, 9.5, 45.5],
     'square': [2724902, 17125191, 207600, 603628]
 })
df['density'] = df.population/df.square
df.rename(columns={'country': 'страна', 'square': 'площадь'}, inplace=True)
df

       страна  population   площадь   density
0  Kazakhstan       17.04   2724902  0.000006
1      Russia      143.50  17125191  0.000008
2     Belarus        9.50    207600  0.000046
3     Ukraine       45.50    603628  0.000075